.Input {
  display: block;
  width: 100%;
  margin: 0.3rem 0;
  font: inherit;
  padding: 0.5rem 0.8rem;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid #8fb8ed;
  font-size: 1.4rem;
}

.Input:focus {
  outline: none;
  box-shadow: 0 0px 1rem 1px #000;
}
